@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --color-green: #37643b;
    --color-blue: #62afa5;
    --color-white: #fdfcf7;
    --color-black: #393a3c;
    --color-green2: #dfde9d;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    min-height: 150vh;
    color: var(--color-black);
    background-color: var(--color-white);
    font-family: "Raleway", sans-serif;
}
main {
    min-height: 150vh;
    width: 100%;
}
ul {
    list-style: none;
    padding: 0;
}
a {
    text-decoration: none;
    color: rgb(24, 24, 24);
}
p{
    margin: 0;
}
img{
    aspect-ratio: 1/1;
    object-fit: cover;
}
hr{
    opacity: 1;
    border-radius: 10px;
}
.row{
    --bs-gutter-x: 0; 

}

/*------------ HEADER ------------*/
header {
    background-color: var(--color-green);
    position: sticky;
    top: 0;
    z-index: 1000;
}
nav {
    background-color: var(--color-green);
}
.navbar-brand img {
    height: 50px;
}
.navbar-brand {
    color: var(--color-white);
}
.nav-item {
    text-align: center;
    width: 100%;
}

.navbar__icon {
    margin-right: 10px;
}
.navbar__icon--bag,
.navbar__icon--user,
.navbar__toggle--img {
    height: 40px;
    width: 40px;
}
.navbar__icon--search {
    height: 32px;
    width: 32px;
}
.navbar-toggler {
    border: none;
    outline: none;
}
.navbar-toggler:focus {
    box-shadow: none;
}
.navbar-collapse {
    background-color: var(--color-green2);
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    z-index: 1000;
}

.nav-link:hover {
    color: var(--color-green2);
}
.navbar-nav .nav-link.active {
    color: var(--color-green); 
    font-weight: bold; 
}
.catalogueLink p{
    font-size: 24px;
}
.catalogueMenu {
    background-color: var(--color-white);
    width: 100%;
    height: auto;
}
.catalogueMenu li {
    list-style: none;
    text-align: left;
    padding: 10px 0 10px 0;
}

.dropdown-menu {
    background-color: var(--color-white);
    border-radius: 0;
    border: none;
    padding: 0;
}
.categories_list {
    font-weight: bold;
    text-align: left;
    background-color: #37643b92;
    margin: auto;
    border-bottom: 2px solid var(--color-green);
}
.subcategory {
    font-size: 14px;
}

/*------------ FOOTER ------------*/
footer {
    height: auto;
    width: 100%;
    background-color: var(--color-green);
    color: var(--color-white);
    padding: 30px 0 20px 0;
}
.container {
    max-width: 95%;
}

.footerLogo {
    display: flex;
    justify-content: center;
    align-items: center;
}
.footerLogo__img {
    height: 100px;
}
.footerLogo__name {
    font-size: 24px;
    margin-left: 10px;
    font-weight: bold;
}
.footerLink {
    padding: 30px 0 10px 0;
}
.footerLink ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 0;
}
.footerLink ul li {
    padding: 15px;
    border-bottom: 3px solid var(--color-green2);
    width: 70%;
    text-align: center;
}
.footerLink ul li a {
    color: var(--color-white);
    text-decoration: none;
    font-size: 20px;
}
.footerSocial {
    padding: 25px 0 25px 0;
}
.footerSocial__img {
    height: 45px;
    width: 45px;
}
.footerPolicy {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.footerPolicy a {
    color: var(--color-white);
    text-decoration: none;
    font-size: 12px;
}
.footerPolicy hr {
    width: 2px;
    height: 20px;
    margin: 0;
    border: 1px solid var(--color-yellow);
    opacity: 1;
}
.footerCopy {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footerCopy p {
    margin-bottom: 0;
    font-size: 12px;
}

/* TABLET */
@media (min-width: 768px) and (max-width: 991.98px) {
}

/* ESCRITORIO */
@media (min-width: 992px) {
    /*------------ HEADER ------------*/
    nav {
        margin: 0 2% 0 2%;
        height: 80px;
    }
    .navbar-brand img {
        height: 50px;
    }
    .navbar-brand {
        font-size: 25px;
    }
    .collapse {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .nav-link {
        font-size: 20px;
    }
    .navbar-nav .nav-link.active {
        color: var(--color-green2); 
    }
    .navbar__icon {
        margin-right: 0px;
        margin-left: 20px;
    }

    .navbar__icon--bag,
    .navbar__icon--user {
        height: 50px;
        width: 50px;
    }
    .navbar__icon--search {
        height: 40px;
        width: 40px;
    }
    .navbar-collapse {
        position: static;
        background-color: transparent;
    }
    .nav-link {
        color: var(--color-white);
    }
    .navbar-collapse {
        background-color: var(--color-green);
    }
    .navbar-nav li {
        text-align: center;
        width: auto;
        margin: 0 20px 0 20px;
    }
    .dropdown-menu {
        background-color: var(--color-beige);
        min-width: none;
        width: 800px;
        display: none;
    }
    .navbar-expand-lg .navbar-nav .dropdown-menu {
        top: 61px;
        left: 50%;
        transform: translateX(-50%);
        padding: 30px 0 30px 0;
    }
    .dropdown-item {
        text-align: center;
    }

    .catalogueMenu {
        background-color: var(--color-beige);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    .catalogueMenu li {
        padding: 5px 0 5px 0;
    }
    .categories {
        width: 30%;
    }
    .dropdown-item {
        display: flex;
    }
    .categories_list {
        width: 100%;
    }
    .categories_list p {
        width: 100%;
        text-align: center;
        margin-bottom: 0;
    }
    /*------------ FOOTER ------------*/
    footer {
        padding: 20px 0 10px 0;
    }
    .footerLogo {
        justify-content: left;
    }
    .footerLogo__img {
        height: 80px;
    }
    .footerLogo__name {
        font-size: 26px;

    }
    .footerLink {
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 0;
    }
    .footerLink ul {
        width: 50%;
        align-items: start;
        margin-bottom: 0;
    }
    .footerLink ul li {
        border: none;
        width: auto;
        text-align: left;
        padding: 5px 0 10px 0;
    }
    .footerSocial__img {
        height: 45px;
        width: 45px;
    }
    .footerPolicy,
    .footerCopy {
        justify-content: right;
        height: 30px;
    }
}
